<%# app/views/tasks/_question_fields.html.erb %>
<div class="question-field">
  <%= f.hidden_field :id %>
  <% case f.object.kind %>
  <% when 'multiple_choice' %>
    <%= f.input :answer, as: :radio_buttons, collection: f.object.options, label: f.object.wording %>
  <% when :area %>
    <%= f.input :answer, as: :hash, input_html: { value: f.object.answer.to_json } do %>
      <%= f.input_field 'answer[value]', as: :number, step: 0.01 %>
      <%= f.input_field 'answer[unit]', as: :select, collection: ['miles', 'kilometers'] %>
    <% end %>
  <% when :multiple_choice_with_other %>
    <%= f.input :answer do %>
      <%= f.collection_radio_buttons :answer, f.object.options, :to_s, :to_s do |b| %>
        <%= b.radio_button + b.label %>
      <% end %>
      <%= f.input_field :answer, placeholder: 'Other (please specify)',
                        data: { shows_on: "#{f.object.id}_other" } %>
    <% end %>
  <% else %>
    <%= f.input :answer %>
  <% end %>
</div>
