<h1>Create Services</h1>

<% if @errors && @errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this service from being saved:</h2>
    <ul>
      <% @errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for :services,
                    url: "/tasks/#{@task.id}/services",
                    method: "post",
                    html: { name: "services[]", data: { controller: "checkbox", action: "submit->checkbox#preventEmptySubmission" } } do |f| %>
  <div>
    <% @services_options.each_with_index do |service, index| %>
      <div>
        <%= check_box_tag 'services[][name]', service, false, id: "service_#{index}", data: { checkbox_target: "checkbox", action: "click->checkbox#consoleLogChecked" } %>
        <%= label_tag "service_#{index}", service %>
      </div>
    <% end %>
  </div>

  <%= f.submit "Create Services" %>
<% end %>
