<h1>Create Services</h1>

<% if @errors && @errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this service from being saved:</h2>
    <ul>
      <% @errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @task, html: { class: "form" } do |f| %>
  <% @services_options.each_with_index do |service, index| %>
    <%= f.fields_for :services, @task.services.build do |service_form| %>
      <div>
        <%= service_form.check_box :name, {}, service, nil %>
        <%= service_form.label :name, service %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit "Create Services" %>
<% end %>
