<% @options_for_services.each_with_index do |service, index| %>
  <div>
    <% checked = @task.services.any? { |s| s.name == service } if @task%>
    <input type="checkbox"
           name="task[services_attributes][<%= index %>][name]"
           id="task_services_attributes_<%= index %>"
           value="<%= service %>"
           <%= 'checked="checked"' if checked %> >
    <label for="task_services_attributes_<%= index %>"><%= service %></label>
  </div>
<% end %>
