<div class="container">
  <div class="form-container">
    <%= simple_form_for @task, url: url_for_step_two, html: { class: "form" } do |f| %>

      <%= link_to "Back", back_to_step_one %>

      <% if @task.errors.any? %>
        <div class="error-message">
          <%= @task.errors.full_messages.to_sentence.capitalize %>
        </div>
      <% end %>

      <h3>Select Services:</h3>
      <% @options_for_services.each_with_index do |service, index| %>
        <% existing_service = @task.services.find_by(name: service) %>
        <div data-controller="service-checkbox">
          <input type="checkbox"
                name="task[services_attributes][<%= index %>][name]"
                id="task_services_attributes_<%= index %>"
                value="<%= service %>"
                <%= 'checked="checked"' if existing_service %>
                data-action="change->service-checkbox#toggleDestroy">
          <label for="task_services_attributes_<%= index %>"><%= service %></label>
          <% if existing_service %>
            <input type="hidden"
                  name="task[services_attributes][<%= index %>][id]"
                  value="<%= existing_service.id %>">
            <input type="hidden"
                  name="task[services_attributes][<%= index %>][_destroy]"
                  value="0"
                  data-service-checkbox-target="destroyInput">
          <% end %>
        </div>
      <% end %>

      <%= f.button :submit, submit_text_step_two, class: "btn--primary" %>
    <% end %>
  </div>
</div>
