<div class="container">
  <div class="form-container">

    <h1>New Task</h1>

    <%= simple_form_for @task, html: { class: "form" } do |f| %>

      <% if @task.errors.any? %>
        <div class="error-message">
          <%= @task.errors.full_messages.to_sentence.capitalize %>
        </div>
      <% end %>

      <%= f.input :headline, input_html: { autofocus: true, class: "form-field" } %>
      <%= f.input :description, input_html: { class: "form-field" } %>
      <%= f.hidden_field :user_id, value: 1 %>

      <h4>Where do you want your task done?</h4>
      <div data-controller="map" data-map-api-key-value="<%= Rails.application.credentials.mapbox_token %>">
        <div style="height: 300px;" id="map"></div>
        <%# <pre id="coordinates" class="coordinates" data-map-target="coordinates"></pre> %>
          <%= f.input :longitude, wrapper_html: { class: "hidden"}, input_html: { data: { map_target: "longitude"}} %>
          <%= f.input :latitude, wrapper_html: { class: "hidden"}, input_html: { data: { map_target: "latitude"}} %>
      </div>

      <div data-controller="options"
           data-options-subcategories-url-value="<%= options_for_subcategory_tasks_path %>"
           data-options-services-url-value="<%= options_for_services_tasks_path  %>">

        <%= f.input :category, collection: @categories,
                                  prompt: "- Select -",
                              input_html: { data: { action: "change->options#setOptionsForSubcategory", options_target: "category" }, class: "form-field" } %>

        <%= f.input :subcategory,
                    collection: [],
                    prompt: "- Select -",
                    input_html: { data: { options_target: "subcategory", action: "change->options#setOptionsForServices"}, class: "form-field" } %>

        <h4>Services</h4>

        <div data-options-target="services" id="services">
          <%= render partial: "service_fields", locals: { f: f } %>
        </div>
      </div>

      <div class="form-submit">
        <%= f.button :submit, 'Create Task', class: "btn--primary" %>
      </div>
    <% end %>
  </div>
</div>
