
<%= simple_form_for @task, html: { class: "form" } do |f| %>

  <% if @task.errors.any? %>
    <div class="error-message">
      <%= @task.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <h3>Select Services:</h3>
    <%= f.fields_for :services do |service_form| %>

      <% @options_for_services.each_with_index do |service, index| %>
        <% checked_service = @checked_services.find { |s| s.name == service } if @checked_services %>
        <div data-controller="service-checkbox">

          <input type="checkbox"
                name="task[services_attributes][<%= index %>][name]"
                id="task_services_attributes_<%= index %>"
                value="<%= service %>"
                <%= 'checked="checked"' if checked_service %>
                data-action="change->service-checkbox#toggleDestroy">
          <label for="task_services_attributes_<%= index %>"><%= service %></label>
          <% if checked_service %>
            <input type="hidden"
                  name="task[services_attributes][<%= index %>][id]"
                  value="<%= checked_service.id %>">
            <input type="hidden"
                  name="task[services_attributes][<%= index %>][_destroy]"
                  value="0"
                  data-service-checkbox-target="destroyInput">
          <% end %>
        </div>
      <% end %>

    <% end %>

  <%= f.submit "Create Task" %>
<% end %>
