<div class="container">
  <div class="form-container">
    <%= simple_form_for @task, url: submit_questionnaire_task_path(@task), html: { class: "form" }, method: :patch do |f| %>
      <%= f.simple_fields_for :services do |service_form| %>
        <h3><%= service_form.object.name %></h3>
        <%= service_form.simple_fields_for :questions do |question_form| %>
          <% question = question_form.object %>
          <div class="question-field">
            <% case question.kind.to_sym %>
            <% when :multiple_choice %>
              <%= question_form.input :answer, as: :select, collection: question.options, label: question.wording, prompt: "- Select a type of fertilizer -", input_html: { class: "form-field" } %>
            <% when :area %>
              <%= question_form.input :answer, as: :area, label: false %>
            <% when :multiple_choice_with_other %>
              <div data-controller="question">
                <%= question_form.input :answer, as: :select, collection: question.options, label: question.wording, input_html: { id: "question_#{question_form.index}_answer", data: { action: "change->question#toggleOtherField" }} %>
                <%= question_form.input :answer, name: "task[services_attributes][#{service_form.index}][questions_attributes][#{question_form.index}][answer][other]", label: false, input_html: { id: "question_#{question_form.index}_other_answer", class: 'other-input', style: 'display:none;', data: { question_target: "otherInput", action: "input->question#updateAnswer" }} %>
                <%= hidden_field_tag "task[services_attributes][#{service_form.index}][questions_attributes][#{question_form.index}][answer][value]", question.answer['value'], id: "question_#{question_form.index}_final_answer", data: { question_target: "finalAnswer" } %>
              </div>
            <% else %>
              <%= question_form.input :answer, label: question.wording %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= f.button :submit, 'Update Questionnaire', class: "btn--primary" %>
    <% end %>
  </div>
</div>
