<h1>Task Showpage</h1>

<div>
  <h4>Task</h4>
    <p>headline: <%= @task.headline %> </p>
    <p>category: <%= @task.category %> </p>
    <p> subcategory: <%= @task.subcategory %> </p>

  <h4>Services</h4>
  <% @task.services.each do |service| %>
    <%= service.name %>
    <% service.answers.each do |answer| %>
      <%= answer.label %>
      <% case answer.kind.to_sym %>
        <% when :multiple_choice %>
          <%= answer.details["answer"] %>
        <% when :area %>
          <p><%= answer.details["acres"] %> acres / <%= answer.details["hectares"] %> hectares</p>
        <% when :description %>
          <%= answer.details["description"] %>
        <% when :multiple_choice_with_other %>
          <% if answer.details["answer"].nil? %>
            <%= answer.details["other"] %>
          <% else %>
           <%= answer.details["answer"]%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
