<h1>Task Showpage</h1>

<div>
  <h4>Task</h4>
    <%= link_to "Edit Task", edit_step_one_task_path(@task) %>
    <%= link_to "Destroy Task", task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <p>headline: <%= @task.headline %> </p>
    <p>category: <%= @task.category %> </p>
    <p> subcategory: <%= @task.subcategory %> </p>
    <p> description: <%= @task.description %></p>

    <%= link_to "Answer questions about your services", show_questionnaire_task_path(@task) %>
</div>

<h4>Services</h4>
  <ul>
    <% @services.each do |service| %>
      <li><%= link_to service.name, task_service_path(@task, service) %></li>
    <% end %>
  </ul>
