<h1>Job Showpage</h1>

<div>
  <h4>Job</h4>
    <p>headline: <%= @job.headline %> </p>
    <p>category: <%= @job.category %> </p>
    <p> subcategory: <%= @job.subcategory %> </p>

  <h4>Services</h4>
  <% @job.services.each do |service| %>
    <%= service.name %>
    <% service.answers.each do |answer| %>
      <%= answer.details %>
    <% end %>
  <% end %>
</div>
